@model WebApplication1.Models.CustomerViewModel

@{
    ViewData["Title"] = "Create Customer";
}

<h1>Create Customer</h1>

<form asp-action="Create">
    @Html.AntiForgeryToken()



    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
        <span asp-validation-for="Id" class="number"></span>
    </div>


  


    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <br/>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a href="@Url.Action("Index")" class="btn btn-secondary">Cancel</a>
    </div>
</form>
